.Brand {
  color: var(--firstColor);
  text-transform: uppercase;
  font-family: 'Lobster Two', cursive;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
}

.nav-item {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav-link {
  color: var(--firstColor);
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 0.5rem;
  text-transform: uppercase;
  padding: 0.5rem !important;
}

.nav-link:hover {
  color: var(--secondFontColor);
  transition: color 0.35s;
}

.Brand:hover {
  color: var(--secondFontColor);
}

.activeNav {
  color: var(--secondFontColor);
  font-weight: bolder;
}

@media (max-width: 575.5px) {
  .Brand {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .Brand {
    font-size: 1.1rem;
  }
}

@media (max-width: 765.5px) {
  .Brand {
    font-size: 1.25rem;
  }
}

@media (min-width: 991.5px) {
  .Brand {
    font-size: 1.5rem;
  }
}
